# Ignore Python cache files
__pycache__
*.pyc
*.pyo

# Ignore virtual environment
venv

# Ignore test files
tests

# Ignore Git files
.git
.gitignore

# Ignore Dockerfile and .dockerignore
Dockerfile
.dockerignore
